
.spaced-table {
  border-collapse: separate;
  border-spacing: 0 12px; /* 12px between rows */
}


/* Popup overlay background */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0; // top:0, left:0, right:0, bottom:0
  //width: 80%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; // MUST be higher than sidenav
   overflow-y: auto;      /* enable vertical scroll */
   padding: 10px;
}

/* Popup box */
.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  //max-width: 90%;
  width: 70%;
  text-align: center;
  height: 80%;
  
  overflow-y: auto;   // Enables vertical scrolling
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Close button */
.close-btn {
  position: absolute;
  top: 4px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Image styling */
.popup img {
  max-width: 100%;
  //height: auto;
   height: 80%;
  border-radius: 6px;
   overflow-y: auto;      /* enable vertical scroll */
}

.lable_text {
    font-weight: 100;
    margin-right: 10px;
    font-size: medium;
}


.pagination-controls {
  //display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 60%;
  gap: 12px;
   margin-top: 32px;
  margin-left: 11%;
    position: relative;

}