.stock_upload_button p{
    height: 50px;
    width: 26%;
    float: left;
    /* width: 40px; */
    padding: 0px;
    margin: 0px;
  }
  .stock_upload_button button{
    height: 29px;
    width: 85px;
    padding: 5px
  }

  .display-error{
    color: red;
  }