

mat-toolbar {
    background: #004a9f;
    color: white;
    height: 50px;
    text-align: center;
    //display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}

mat-sidenav {
    margin: 10px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.content{
    height: calc(100vh - 130px);
    margin: 10px;
    width: 95%;
    margin-left: 30px;
    padding: 10px;
   ///display: flex;
    //justify-content: center;
    //align-items: center;
    font-size: 2rem;
    color: black;
    border-radius: 15px;
    overflow: auto;
    background-color: aliceblue;
}

mat-sidenav-container {
    height: calc(100vh - 90px);
   // align-items: center;
   // display: flex;
}

.menu-button {
    width: 100%;
    display: flex;
   // align-items: center;
    //justify-content: flex-start;
    font-size: 1rem;
  
    mat-icon {
      margin-right: 8px;
    }
    margin-top: 12px;
  }

  .avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name {
    margin-top: 8px;
    font-weight: normal;
  }
  
  .designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
  }
  mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
  }  