/* Basic styling for the alert */
.alert {
    //display: flex;     
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 5px;
    width: 400px;
    z-index: 1000;
    margin-top: 15%;
  }
  
  .info {
    background-color: #2196F3;
    color: white;
  }
  
  .success {
    background-color: #4CAF50;
    color: white;
  }
  
  .error {
    background-color: #f44336;
    color: white;
  }
  
  button {
    background: #e7efee;
    border: #2196F3;
    color: black;
    font-size: 11px;
    height: 30px;
    width: 78px;
    margin-left: 40%;
    cursor: pointer;
  }
  
  button:hover {
    text-decoration: underline;
  }

  .alertMessageDisplay{

    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-bottom: 17px;
    padding-top: 10px;
  }
  .alertButton{

  }