.fetch-table-container{
    font-size: medium;
    width: 80%;
    justify-items: center;
    height: auto;
    //overflow-y: auto;
    position: relative;
   // display: flex;
       margin-top: 24px;
    margin-inline: 5%;
    margin-top: 24px;

}

.responsive-table-fetch {
    width: 100%;
    border-collapse: collapse;
    
    border-bottom-style:double;
  }
  
  .responsive-table-fetch th,
  .responsive-table td {
    padding: 5px 5px;
    text-align: left;
  }
  .responsive-table-fetch th {
    background-color: #f2f2f2;
    font-weight: 700;
    font-size: medium;
  }
  /* Add zebra striping for rows */
  .responsive-table-fetch tr:nth-child(even) {
    background-color: #f9f9f9;
  }

 
  

  .responsive-table-fetch tr {
    border: double;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  .responsive-table-fetch td {
    border: double;
    border-bottom: 1px solid #ddd;
    position: relative;
    text-align: center;
    
  }

  .responsive-table-fetch td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    font-weight: bold;
  }

 .customDate_Dev {
    font-size: large;
}

.p_head {
    color: blue;
    text-align: center;
    font-size: large;
}

.wrap-text {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
 max-width: 80%; /* set column width */
}
